
@import "game-base.scss";

$font-size: 300px;

#precount {
  font-size: $font-size;
  color: #fe5;
  text-shadow: 4px 4px 3px #000;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%) scale(1);
  opacity: 1;

  &.tick {
    transition: transform 900ms ease, opacity 900ms ease-in;
    transform: translate(-50%,-50%) scale(0.3);
    opacity: 0;
  }
}

#score {
  font-size: 32px;

  position: absolute;
  top: 80px;
  left: 13%;

  width: 20%;

  .alert {
    color: red;
  }
}
