
@import "game-base.scss";

.score {
  position: absolute;
  top: 80px;
  left: 12%;

  width: 20%;

  background-color: #fff;
}

th, tr {
  text-align: center;
}

td > div {
  position: relative;
  margin-left: 2em;

  > span {
    position: absolute;
    top: 0;
    left: 0;
  }
}
